@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* common */
body {
  font-family: '나눔명조', NanumMyeongjo, 'Nanum Myeongjo', '돋움', '돋움체',
    Arial, sans-serif;
  -webkit-text-size-adjust: none;
  background-color: #ddd;
  font-size: 30px;
  color: #503618;
}

/* layout */
.container {
  max-width: 720px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
}

/* menu */
.menu {
  position: fixed;
  width: 100%;
  max-width: 720px;
  bottom: 0;
  z-index: 10;
}
.menu li {
  float: left;
  width: 25%;
  box-sizing: border-box;
  position: relative;
}
.menu li::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 1px;
  height: 60px;
  margin-top: -30px;
  background-color: #b7c0b7;
}
.menu li:first-child::before {
  display: none;
}
.menu a {
  display: inline-block;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: #bcc7bb;
  font-size: 0.93em;
  font-family: '나눔고딕', NanumGothic, 'Nanum Gothic';
  color: #595757;
}

/* top */
.top {
  position: relative;
  padding-top: 15%;
  padding-bottom: 12%;
  background: url('../images/top-bg.jpg') repeat-y;
  -webkit-background-size: contain;
  background-size: contain;
  box-sizing: border-box;
}
.top-text img {
  width: 27.5%;
}
.leaf {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: left;
}
.leaf1 {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  text-align: right;
}
.leaf img {
  width: 39.44%;
}
.leaf1 img {
  width: 33.61%;
  vertical-align: bottom;
}
.name {
  font-size: 1.56em;
  padding-bottom: 3%;
  letter-spacing: 0.25em;
}
.name span {
  padding: 0 4.5%;
  font-size: 0.85em;
  color: #8fa89b;
}
.date {
  font-size: 0.96em;
  padding-bottom: 13.8%;
  letter-spacing: 0.05em;
}
.owl-nav {
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: 10;
  text-indent: -9999px;
  margin-top: -21px;
}
.owl-prev {
  position: absolute;
  width: 16px;
  height: 43px;
  left: 3.88%;
  background: url('../images/prev.png') no-repeat;
  background-size: contain;
}
.owl-next {
  position: absolute;
  width: 16px;
  height: 43px;
  right: 3.88%;
  background: url('../images/next.png') center right no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.top-text1 {
  padding: 12.5% 0 7%;
  font-size: 0.9em;
  line-height: 1.9em;
  letter-spacing: 0.1em;
}
.top-text2 {
  font-size: 0.76em;
  color: #927c5c;
}
.move1 {
  padding-top: 41.8%;
  transition: 1.5s;
}
.on .move1 {
  padding-top: 11.8%;
}
.move2 {
  padding-top: 30%;
  transition: 1s;
}
.on.move2 {
  padding-top: 0;
}

/* greet */
.greet {
  padding: 19% 0;
}
.greet-title img {
  width: 45.83%;
}
.greet-text {
  padding: 52% 8% 22%;
  font-size: 0.93em;
  line-height: 2.2em;
  color: #515151;
  transition: 1s;
}
.parent {
  color: #3e3a39;
  letter-spacing: 0.05em;
  padding-top: 20%;
  transition: 1s;
}
.parent div:first-child {
  margin-bottom: 2.2%;
}
.on .greet-text {
  padding-top: 32%;
}
.on.parent {
  padding-top: 0;
}
.add {
  color: #3e3a39;
  font-size: 0.8em;
}
.add-line {
  height: 1px;
  width: 67%;
  margin: 18% auto 4%;
  background-color: #8d8d8d;
}
.add-line:after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #fff;
  border: 1px solid #8d8d8d;
  position: relative;
  top: -10px;
}
.add-text {
  color: #8fa89b;
  margin-bottom: 3%;
  padding-top: 11%;
  font-size: 1.2em;
  font-weight: bold;
}
.add-text1 {
  line-height: 1.5;
  padding: 0 10%;
}

/* location */
.location {
  padding: 15.13% 0 10.8%;
  background: #f2ede7 url('../images/top-bg.jpg') repeat-y;
  -webkit-background-size: contain;
  background-size: contain;
  box-sizing: border-box;
}
.location-title img {
  width: 42.5%;
}
.location-text {
  padding: 46% 8% 4.4%;
  line-height: 1.5em;
  font-weight: bold;
  color: #927c5c;
  transition: 1s;
}
.location-text1 {
  font-size: 0.83em;
}
.location-map {
  width: 84%;
  margin: 0 auto;
  background-color: #bcc7bb;
  padding: 2.5%;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.location-map img {
  max-width: 100%;
  text-align: center;
  vertical-align: bottom;
}
.location-map1 {
  width: 88%;
  margin: -3% auto 0;
  overflow: hidden;
}
.location-map1 iframe {
  width: 100%;
  height: 400px;
}
.on.location-text {
  padding-top: 16%;
}

/* contact */
.contact {
  padding: 13.5% 0 20.4%;
}
.contact-title img {
  width: 37.91%;
}
.contact1 {
  width: 84%;
  margin: 14.6% auto 16.2%;
}
.groom {
  float: left;
  width: 48%;
  padding: 8.2% 0 7.2%;
  border: 1px solid #b8c7b8;
  box-sizing: border-box;
}
.bride {
  float: right;
  width: 48%;
  padding: 8.2% 0 7.2%;
  border: 1px solid #fbe1c3;
  box-sizing: border-box;
}
.contact-img img {
  width: 55%;
}
.contact-text {
  font-size: 0.93em;
  margin: 12% 0 3.4%;
  letter-spacing: -0.05em;
}
.contact-text1 {
  font-size: 0.5em;
  color: #927c5c;
}
.phone {
  margin-top: 15.8%;
  line-height: 66px;
}
.phone img {
  vertical-align: middle;
}
.phone div {
  float: left;
}
.phone a {
  display: inline-block;
  width: 95%;
}
.sms {
  width: 50%;
}
.sms img {
  width: 47%;
}
.call,
.call1 {
  width: 48%;
}
.call img,
.call1 img {
  width: 47.2%;
}
.call:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 66px;
  vertical-align: middle;
  background: url('../images/line.png') repeat-y;
}
.call1:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 66px;
  vertical-align: middle;
  background: url('../images/line1.png') repeat-y;
}
.contact ul {
  width: 95%;
  margin: 0 auto 16.6%;
}
.contact li {
  float: left;
  width: 25%;
}
.contact li a {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.contact li:first-child img {
  width: 40%;
}
.contact li:nth-child(2) img {
  width: 21%;
}
.contact li:nth-child(3) img {
  width: 21.6%;
}
.contact li:last-child img {
  width: 26.9%;
}
.share-icon {
  height: 75px;
  line-height: 75px;
}
.share-icon img {
  vertical-align: middle;
}
.share-text {
  font-family: '나눔고딕', NanumGothic, 'Nanum Gothic';
  font-size: 0.78em;
  color: #503618;
  padding-top: 14%;
}
.logo img {
  width: 27.4%;
}

/* account */
.account {
  margin: 0 10%;
  padding-bottom: 15%;
  font-size: 0.8em;
  line-height: 1.8;
  font-weight: bold;
}
.account1 {
  padding: 6% 0 3%;
  color: #927c5c;
}
.account-title {
  font-size: 1.1em;
  color: #927c5c;
}

/* =============== 1) 모바일 공통 (가로) =============== */
@media all and (max-width: 667px) {
  body {
    font-size: 23px;
  }

  /* menu */
  .menu li::before {
    height: 30px;
    margin-top: -15px;
  }
  .menu a {
    height: 50px;
    line-height: 50px;
  }

  /* greet */
  .add-line:after {
    top: -7px;
  }

  /* location */
  .location-map1 iframe {
    height: 400px;
  }

  /* contact */
  .phone {
    line-height: 58px;
  }
  .call:after,
  .call1:after {
    height: 58px;
  }
}

/* =============== 2) 아이폰 플러스 =============== */
@media all and (max-width: 414px) {
  body {
    font-size: 18px;
  }

  /* top */
  .top-text img {
    width: 40%;
  }
  .date {
    font-size: 1em;
  }
  .owl-nav {
    margin-top: -16px;
  }
  .owl-prev,
  .owl-next {
    height: 33px;
  }

  /* greet */
  .add-line:after {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    top: -5px;
  }

  /* location */
  .location-map1 iframe {
    height: 290px;
  }

  /* contact */
  .phone {
    line-height: 38px;
  }
  .call:after,
  .call1:after {
    height: 38px;
  }
  .share-icon {
    height: 35px;
    line-height: 35px;
  }
  .logo img {
    width: 32%;
  }
}

/* =============== 3) 작은 모바일 =============== */
@media all and (max-width: 375px) {
  body {
    font-size: 16px;
  }

  /* top */
  .date {
    font-size: 1.06em;
  }

  /* greet */
  .greet-title img {
    width: 54%;
  }
  .greet-text {
    padding-bottom: 16%;
    font-size: 0.85em;
  }
  .on .greet-text {
    padding-top: 18%;
  }
  .parent {
    font-size: 0.92em;
  }
  .add-line:after {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    top: -5px;
  }

  /* location */
  .location-title img {
    width: 56%;
  }
  .location-map1 iframe {
    height: 250px;
  }

  /* contact */
  .contact-title img {
    width: 50%;
  }
  .phone {
    line-height: 32px;
  }
  .call:after,
  .call1:after {
    height: 32px;
    -webkit-background-size: 100% 18%;
    background-size: 100% 18%;
  }
}

/* =============== 5) 아이폰 5 =============== */
@media all and (max-width: 320px) {
  body {
    font-size: 14px;
  }

  /* menu */
  .menu li::before {
    height: 24px;
    margin-top: -12px;
  }
  .menu a {
    height: 40px;
    line-height: 40px;
  }

  /* top */
  .move1 {
    padding-top: 30%;
  }

  /* location */
  .location-map1 iframe {
    height: 220px;
  }
}
